body {
	font-family: :Calibri;
	background-color: #F8FFEC;
	height: 100%;
}

body, h1, h2, h3, h4 {
	/* color : #960707; */
}

.body, .main, .navbar-nlogy, .main-header {
	margin: 0px;
	padding: 0px;
}

.head_section {
	margin: 0px 0px 0px 40px;
	padding: 0px;
}

.main-tabs {
	margin-top: 42px;
}

.main-content {
	padding: 5px;
	margin: 42px 0px 0px 0px;
}

.navbar-nlogy {
	background: linear-gradient(#F4F3B1, #C8F966);
  	border-color: #BFF94B;
  	min-height: 40px;
}

.main-title {
	font-size: 24px;
	padding: 0px;
  	margin: 7px 2px;
  	font-weight: bold;
}

.inner-main-title {
	font-size: 16px;
	padding: 0px;
	margin: 10px 5px;
  	font-weight: bold;
}

.menu-control {
	position : absolute;
	left : 2px;
	top : 2px;
	height: 38px;
  	width: 38px;
}

.setting-control {
	position : absolute;
	right : 2px;
	top : 2px;
	height: 38px;
  	width: 38px;
}

/* Menu Styling */
#menu  {
	background: #F2F7BE;
	box-shadow: 5px 5px 5px #A8A88E;
	position: absolute;
	top: 40px;
	z-index: 99;
	display: none;
}

#menu ul li {
	border-bottom: 1px Solid #960707;
}

#menu ul li  a {
	font-size: 16px;
	color: #960707;	
	padding-right: 10px;
	font-weight: bold;
}

#menu ul li.nav-header {
	font-size: 22px;
	padding: 8px;
	color: #1F1F1F;	
	font-weight : bold;
	background: #ACACAC;
}

/* Setting Styling */
#setting  {
	background: #F2F7BE;
	box-shadow: 5px 5px 5px #A8A88E;
	position: absolute;
	top: 40px;
	right: 0px;
	z-index: 99;
	display: none;
}

#setting ul li {
	border-bottom: 1px Solid #960707;	
}

#setting ul li  a {
	font-size: 18px;
	color: #960707;	
	padding-right: 20px;
}

#setting ul li.nav-header {
	font-size: 20px;
	padding: 8px;
	color: #1F1F1F;
	font-weight : bold;
	background: #ACACAC;
}

.content {
	margin: 50px 0px 0px 0px;
	padding: 5px;
}

.shaded {
	/* background-color: #454633; */
}

.rounded-form {
	padding: 5px;
  	margin: 0px;
  	border-radius: 10px;
  	background: linear-gradient(#F4F3B1, #C8F966);
 }

.padless {
	padding : 0px;
}

.nomargin {
	margin : 0px;
}

.row-input {
	padding: 5px 3px;
  	margin: 0px;
}

.fld-label {
	margin-top: 10px;
	color: #000;
}

.centered {
	text-align: center;
}

.btn-numer {
	color: #060606;
  	background-color: #f0ad4e;
  	border-color: #eea236;
}

.result {
	padding: 5px;
  	margin-top: 10px;
  	border-radius: 10px;
  	background: #C8F966;
}

.result-name {
    padding: 5px;
    margin: 10px 0px;
    border-radius: 10px;  	
    background: #C8F966;
}

.main-tabs {
	margin: 42px 0px 0px 0px;
    background: #B4B7B3;	
    padding: 0px;
}

.main-tabs li {
  	margin: 0px;
  	padding: 0px;
}

.main-tab-link {
    background-color: #E8EAE4;
    color: #000;
    font-weight: bold;	
} 

.inner-content {
	margin: 0px;
	padding: 5px;
}

.nav-tabs > li > a {
  padding: 5px 7px;
  text-align: center;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #000;
  cursor: default;
  background-color: #F7F3F3;
  border: 1px solid #F9F1F1;
  border-bottom-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid #7DB905; 
}

.tool-item-cell {
	list-style: none;
    margin: 0px;
    text-align: center;
    padding: 0px;
}    

.tool-item-cell > a, .grid-icon-holder, .grid-item, .tool-item-desc {
    padding: 0px;
    margin: 0px;
}

.tool-item-cell > a {
    color: #000;
}    

.tool-item-desc {

}

.number {
    color: #000;
    font-weight: bold;
    font-size: 26px;
    background: #ECF1EA;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 50px;
    min-height: 50px;
}    

.bold-name {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    padding: 5px;
    font-family: cursive;
}    

.nospaced {
	padding: 0px;
	margin: 0px;
}

.number-cnt, .control-cnt {
	padding: 5px;
}


.wishlist-cnt {
    padding: 0px;
    margin: 0px 0px 5px 0px;
    border-radius: 10px;
    background: linear-gradient(#F4F3B1, #C8F966);
}    

.wishlist-head {
    text-align: center;
    margin: 0px;
    padding: 7px;
    font-size: 16px;
    background: #A09C96;
    color: #fff;
}

.wishlist > li {
	list-style: none;
	margin: 0px;
    padding: 5px;	
    border-bottom: 1px solid #A09C96;
}

.wishlist > li:last-child {
	border-bottom: 0px;
}


.list-item-number, .list-item-name {
    font-size: 18px;
    font-weight: bold;
}

.list-item-number {
	text-align: center;
}