body {
	font-family: :Calibri;
	background-color: #F8FFEC;
}

body, h1, h2, h3, h4 {
	/* color : #960707; */
}

.navbar-nlogy {
	background: linear-gradient(#F4F3B1, #C8F966);
  	border-color: #BFF94B;
  	padding-left: 40px;
}

.main-title {
	font-size: 24px;
  	padding: 5px 5px;
  	margin: 5px 5px;
  	font-weight: bold;
}

.menu-control {
	position : absolute;
	left : 5px;
	top : 5px;
	height: 38px;
  	width: 38px;
}

.setting-control {
	position : absolute;
	right : 5px;
	top : 5px;
	height: 38px;
  	width: 38px;
}

/* Menu Styling */
#menu  {
	background: #F2F7BE;
	box-shadow: 5px 5px 5px #A8A88E;
	position: absolute;
	top: 40px;
	z-index: 99;
	display: none;
}

#menu ul li {
	border-bottom: 1px Solid #960707;
}

#menu ul li  a {
	font-size: 16px;
	color: #960707;	
	padding-right: 10px;
	font-weight: bold;
}

#menu ul li.nav-header {
	font-size: 22px;
	padding: 8px;
	color: #1F1F1F;	
	font-weight : bold;
	background: #ACACAC;
}

/* Setting Styling */
#setting  {
	background: #F2F7BE;
	box-shadow: 5px 5px 5px #A8A88E;
	position: absolute;
	top: 40px;
	right: 0px;
	z-index: 99;
	display: none;
}

#setting ul li {
	border-bottom: 1px Solid #960707;	
}

#setting ul li  a {
	font-size: 18px;
	color: #960707;	
	padding-right: 20px;
}

#setting ul li.nav-header {
	font-size: 20px;
	padding: 8px;
	color: #1F1F1F;
	font-weight : bold;
	background: #ACACAC;
}

.content {
	margin: 50px 0px 0px 0px;
	padding: 5px;
}

.shaded {
	background-color: #454633; 
}

.rounded-form {
	padding: 5px;
  	margin: 0px;
  	border-radius: 10px;
  	background: linear-gradient(#F4F3B1, #C8F966);
 }

.padless {
	padding : 0px;
}

.nomargin {
	margin : 0px;
}

.row-input {
	padding: 5px 3px;
  	margin: 0px;
}

.fld-label {
	margin-top: 10px;
	color: #960707;
}

.centered {
	text-align: center;
}

.btn-numer {
	color: #060606;
  	background-color: #f0ad4e;
  	border-color: #eea236;
}