<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<!--md-button class="md-icon-button" aria-label="Menu" ng-click="$ctrl.toggleMenu()">
			<md-icon md-svg-icon="images/svg/menu.svg"></md-icon>
		</md-button-->
		<h2>
			<span>{{'app.name' | i18next}}</span> 
		</h2>
		<span flex=""></span>
        <!--md-menu>
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open Setting Menu">
                <md-icon md-menu-origin md-svg-icon="images/svg/more_vert.svg"></md-icon>
            </md-button>
            <md-menu-content width="3" >
                <md-menu-item>
                    <md-button aria-label="Feedback" ng-click="$ctrl.feedback($event)">
                        <div layout="row" flex>
                            <p flex>{{'nav.feedback' | i18next}}</p>
                            <md-icon md-menu-align-target md-svg-icon="images/svg/email_black.svg"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>            
                <md-menu-item>
                    <md-button aria-label="Share" ng-click="$ctrl.share()">
                        <div layout="row" flex>
                            <p flex>{{'nav.share' | i18next}}</p>
                            <md-icon md-svg-icon="images/svg/share_black_36.svg"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>            
                <md-menu-item>
                    <md-button aria-label="Rate Me" ng-click="$ctrl.rate()">
                        <div layout="row" flex>
                            <p flex>{{'nav.rate' | i18next}}</p>
                            <md-icon md-svg-icon="images/svg/rate_black.svg"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>            
            </md-menu-content>
        </md-menu-->        
	</div>
</md-toolbar>






